# Dependencies
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env*.local

# Testing
coverage
.nyc_output
test

# IDE
.idea
.vscode

# OS
.DS_Store

# Git
.git
.gitignore

# Documentation
*.md

# CI/CD
.github

# Docker
Dockerfile*
docker-compose*
.dockerignore

# Logs
logs
*.log
